.layer {width: 200px; height: 250px; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); z-index: 1000; background-color: #fff; border-radius: 25px; }
.layer .close {position: absolute; right: 10px; bottom: 10px;}
.layer_bg {
            z-index: 500;
            width: 100%; height: 100%; background: rgba(0, 0, 0, 0.6);
            position: absolute; left: 0; top: 0;
        }